## Python basic data structures

#### A data structure is a way to store and organize data in a computer so that we can access and modify it efficiently.

* In Python, data structures are built-in types that help us handle data easily.

**Common 4 Python Data Structures:**

* List

* Tuple

* Set

* Dictionary

### 1. List

**A list is an ordered collection of items in Python.**

* It is mutable → you can change, add, or remove items.

* It allows duplicates.

* Defined using square brackets []

* Lists are heterogeneous, meaning they can store multiple data types in a single list.

In [4]:
empty_cart = []

In [5]:
empty_cart

[]

In [6]:
type(empty_cart)

list

In [10]:
shopping_list = ["Rice", "Milk", "Eggs", "Bread", "Sugar", "Tea" , "Rice" , 9.99 , 69]
shopping_list

['Rice', 'Milk', 'Eggs', 'Bread', 'Sugar', 'Tea', 'Rice', 9.99, 69]

In [8]:
type(shopping_list)

list

In [11]:
len(shopping_list)

9

In [12]:
shopping_list[0]

'Rice'

In [14]:
shopping_list[0:3]

['Rice', 'Milk', 'Eggs']

In [15]:
shopping_list[:3]

['Rice', 'Milk', 'Eggs']

In [53]:
shopping_list[2] = "fruits"

In [54]:
shopping_list

['Rice', 'Milk', 'fruits', 'Bread', 'Sugar', 'Tea', 'Rice', 9.99, 69]

### 2. Set

**Definition:**
* A set is an unordered collection of items in Python.

* It is mutable (you can add or remove items)

* It does NOT allow duplicate values

* Defined using curly braces {}

In [22]:
empty_cart02 = set()

In [23]:
empty_cart02

set()

In [24]:
type(empty_cart02 )

set

In [25]:
shopping_list02 = {"Rice", "Milk", "Eggs", "Bread", "Sugar", "Tea" , "Rice" , 9.99 , 69}
shopping_list02

{69, 9.99, 'Bread', 'Eggs', 'Milk', 'Rice', 'Sugar', 'Tea'}

In [26]:
type(shopping_list02)

set

In [31]:
shopping_list02 [0]

TypeError: 'set' object is not subscriptable

In [55]:
shopping_list02 [2] = "fruits"

TypeError: 'set' object does not support item assignment

In [57]:
shopping_list02.add("fruits")

In [58]:
shopping_list02

{69,
 9.99,
 'Bread',
 'Milk',
 'Rice',
 'Sugar',
 'Tea',
 'beffe',
 'fruits',
 'g',
 's'}

In [59]:
shopping_list02.remove("fruits")
shopping_list02

{69, 9.99, 'Bread', 'Milk', 'Rice', 'Sugar', 'Tea', 'beffe', 'g', 's'}

### Tuple

**Definition:**
* A tuple is an ordered collection of items in Python.

* It is immutable → values cannot be changed after creation

* It allows duplicate values

* Defined using parentheses ()

In [47]:
empty_cart03 = ()
empty_cart03

()

In [48]:
type(empty_cart03)

tuple

In [2]:
shopping_list03 = ("Rice", "Milk", "Eggs", "Bread", "Sugar", "Tea" , "Rice" , 9.99 , 69)
shopping_list03

('Rice', 'Milk', 'Eggs', 'Bread', 'Sugar', 'Tea', 'Rice', 9.99, 69)

In [3]:
shopping_list03 [0]

'Rice'

In [4]:
shopping_list03[0:3]

('Rice', 'Milk', 'Eggs')

In [5]:
shopping_list03 [2] = "fruits"

TypeError: 'tuple' object does not support item assignment

In [6]:
shopping_list03.count("Bread")

1

### Dictionary

**Definition:**
* A dictionary is a collection of key–value pairs in Python.

* It is mutable

* Keys must be unique

* Values can be duplicated

* Defined using curly braces {} with :

In [7]:
empty_cart04 = {}

In [8]:
empty_cart04

{}

In [9]:
type(empty_cart04)

dict

In [17]:
shopping_list04 = {"Rice" : 2,
                   "Milk" : 1,
                   "Eggs" : 10,
                   "Bread" : 3, 
                   "Sugar" : 1, 
                   "Tea" : 1 , }

In [13]:
shopping_list04

{'Rice': 2, 'Milk': 1, 'Eggs': 10, 'Bread': 3, 'Sugar': 1, 'Tea': 1}

In [15]:
shopping_list04.clear()

In [16]:
shopping_list04

{}

In [18]:
shopping_list04.keys()

dict_keys(['Rice', 'Milk', 'Eggs', 'Bread', 'Sugar', 'Tea'])

In [19]:
shopping_list04.values()

dict_values([2, 1, 10, 3, 1, 1])

In [20]:
shopping_list04 = {"Rice" : 2,
                   "Milk" : 1,
                   "Eggs" : 10,
                   "Bread" : 3, 
                   "Sugar" : 1, 
                   "Tea" : 1 , }
shopping_list04

{'Rice': 2, 'Milk': 1, 'Eggs': 10, 'Bread': 3, 'Sugar': 1, 'Tea': 1}

In [21]:
import pandas as pd

In [30]:
shopping_list_new = {"items" : ["Rice", "Milk", "Eggs", "Bread", "Sugar", "Tea"] , "Count" : [2,1,10,3,1,1]}
shopping_list_new

{'items': ['Rice', 'Milk', 'Eggs', 'Bread', 'Sugar', 'Tea'],
 'Count': [2, 1, 10, 3, 1, 1]}

In [32]:
pd.DataFrame(data=shopping_list_new)

   items  Count
0   Rice      2
1   Milk      1
2   Eggs     10
3  Bread      3
4  Sugar      1
5    Tea      1